/* color palette
 * 03045e
 * 0077b6
 * 00b4d8
 * 90e0ef
 * caf0f8
 */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100hv;
  background-color: #caf0f8;
}
#overview {
  height: 100%;
}
header{
  color: #caf0f8;
  background-color: #00b4d8;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
}
footer{
  color: #caf0f8;
  background-color:#00b4d8;
  display: grid;
  justify-content: center;
  padding-bottom:30px;
  bottom: 0px;
}

td, th {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
button{
  color: aliceblue;
  background-color: rgb(45, 45, 121);
}
fieldset{
  margin: 20px;
  padding: 10px;
}
form{

  display:inline-flex;
  width: 100%;
  justify-content:space-evenly;
}
form section{
  border-style:solid ;
  border-width: 1px;
  display: inline-table;
  padding: 10px;
}
input{
  display: table-cell;
  max-width: 50px;
}

#addProject{
  padding: 20px;
}
#addResetButton{
  width: 100%;
  margin-bottom: 100px;
  display: inline-flex;
  justify-content: space-evenly;
}
#addResetButton button{
  width: 100px;
  padding: 10px;
}
#localStorageButton{
  background-color: #0f959e;
  width: 100%;
  padding: 20px;
  display: inline-flex;
  justify-content: space-evenly;
}
#localStorageButton button{
  padding: 10px;
}
#oniSucksTableOverflow{
  overflow-y: scroll;
  margin: 0px;
}
#table{
  background-color: #0f959e;
  display:grid;
  width:100%;
  height:300px;
  padding: 20px;
}
#query{
 height: 30px;
 max-width: 500px;
 justify-self:center;
}
table{
  background-color: whitesmoke;
  width:100%;
}
#tableHead{
  background-color: green;
  position: sticky;
  top: 0;
}
table tr:nth-child(odd){
  background-color: darkgrey;
}



.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popupIndication {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popupIndication::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
}

.popup .hide {
  visibility: hidden;
}

