* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header{
  color: aliceblue;
  background-color: #581143;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
footer{
  color: white;
  background-color:#581143;
  display: grid;
  justify-content: center;
  padding-bottom:30px;
}

td, th {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
button{
  color: aliceblue;
  background-color: rgb(45, 45, 121);
}
fieldset{
  margin: 20px;
  padding: 10px;
}
form{

  display:inline-flex;
  width: 100%;
  justify-content:space-evenly;
}
form section{
  border-style:solid ;
  border-width: 1px;
  display: inline-table;
  padding: 10px;
}
input{
  display: table-cell;
  max-width: 50px;
}
#addProject{
  padding: 20px;
  background-color: rgb(250, 223, 182);
}
#addResetButton{
  width: 100%;
  margin-bottom: 100px;
  display: inline-flex;
  justify-content: space-evenly;
}
#addResetButton button{
  width: 100px;
  padding: 10px;
}
#localStorageButton{
  background-color: #0f959e;
  width: 100%;
  padding: 20px;
  display: inline-flex;
  justify-content: space-evenly;
}
#localStorageButton button{
  padding: 10px;
}
#table{
  background-color: #0f959e;
  display:grid;
  width:100%;
  padding: 20px;
}
#query{
 height: 30px;
 width: 500px;
 justify-self:center;
}
table{
  background-color: whitesmoke;
  width:100%;
}
#tableHead{
  background-color: green;
}
table tr:nth-child(odd){
  background-color: darkgrey;
}

