* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header{
  width: 100%;
  display: flex;
  justify-self: center;
}
footer{

}
td, th {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
button{
  color: aliceblue;
  background-color: blue;
}
input {
  width: ;
}
fieldset{
  margin: 20px;
}
form{
  display:inline-flex;
  width: 100%;
  justify-content:space-evenly;
}
form > section{
  border-style:solid ;
  border-width: 1px;
  display: inline-table;
  padding: 10px;
}
input{
  display: table-cell;
}
#addResetButton{
  width: 100%;
  margin-bottom: 100px;
  display: inline-flex;
  justify-content: space-evenly;
}
#addResetButton>button{
  width: 100px;
  padding: 10px;
}
#localStorageButton{
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}
#localStorageButton>button{
  padding: 10px;
}
#table{
  display:grid;
  width:100%;
  padding: 10px;
}
#query{
 height: 30px;
 width: 500px;
 display: flex;
 justify-self:center;
}
table{
  display: ;
  width:100%;
}
#tableHead{
  background-color: green;
}
tbody tr:nth-child(odd){
  background-color: darkgrey;
}

